#canvas {
    /* border: 2px solid #000; */
    display: block;
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #180f44;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

}